.main {
  font-family: 'Raleway', sans-serif;
  background: #1e213a;
  flex: 1 1 30%;
  min-height: 100vh;
  position: relative;
}

.weatherButtons {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 15% 30px;
}

.searchButton,
.currentLocationButton {
  color: #e7e7eb;
  background: #6e707a;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  cursor: pointer;
}

.searchButton {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px;
  text-decoration: none;
  letter-spacing: 1.5px;
}

.currentLocationButton {
  font-size: 24px;
  padding: 7px 10px 3px 10px;
  border-radius: 25px;
}

.mainContent {
  color: #a09fb1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mainBackground {
  position: relative;
}

.mainBackground::before {
  content: '';
  background-image: url('../images/Cloud-background.png');
  height: 150px;
  background-position: center;
  background-size: 120% auto;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.mainImage {
  height: 130px;
  position: relative;
  z-index: 10;
}

.mainTemp {
  color: #e7e7eb;
  font-size: 114px;
  font-weight: 500;
  margin: 10% 0;
}

.mainTemp span {
  font-size: 50px;
  font-weight: 100;
  color: #a09fb1;
}

.mainContent p {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 15% 0;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.date span {
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.date span:last-child {
  margin-right: 0;
}

.location {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;
}
.location span {
  margin-left: 5px;
}
