body {
  font-family: 'Raleway', sans-serif;
  color: #e7e7eb;
}

.container {
  display: flex;
}

.sidebar {
  flex: 0 1 30%;
  min-height: 100vh;
  overflow: hidden;
  background: #1e213a;
  padding: 20px 40px 0;
}

.sidebar-button {
  display: flex;
  justify-content: flex-end;
}

.sidebar button {
  font-size: 32px;
  color: #e7e7eb;
  background: transparent;
  border: none;
  margin: 0 4px 35px 0;
  cursor: pointer;
}

.sidebar-search-form input {
  width: 70%;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #616475;
  font-weight: 500;
  border: 1px solid #e7e7eb;
  background: transparent;
  padding: 0.8rem 1.5rem;
  margin-right: 10px;
}
.sidebar-search-form input::placeholder {
  color: #616475;
  font-weight: 500;
}

.sidebar-search-form input:focus {
  outline: none;
  border: 2px solid #e7e7eb;
}

.sidebar-search-form button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #e7e7eb;
  background: #3c47e9;
  border: none;
  padding: 0.9rem 1rem;
  cursor: pointer;
}

.sidebar-default-cities {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.sidebar-default-cities button {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  color: #e7e7eb;
  padding: 20px 10px;
  position: relative;
  cursor: pointer;
}

.sidebar-default-cities button:after {
  content: '›';
  position: absolute;
  opacity: 0;
  top: 20px;
  right: 0;
  transition: 0.5s;
}

.sidebar-default-cities button:hover {
  border: 1px solid #616475;
}

.sidebar-default-cities button:hover:after {
  opacity: 1;
  right: 10px;
}

@media (max-width: 1370px) {
  .sidebar-search-form button {
    margin: 20px 0 0 0;
    width: 50%;
  }

  .sidebar-search-form input {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .sidebar-search-form button {
    margin: 20px 0 0 0;
    width: 50%;
  }

  .sidebar-search-form input {
    width: 100%;
  }
}
